/* reset */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Noto Sans KR', sans-serif;
}


ul, 
li {
    list-style: none;
}


a {
    text-decoration: none;
    color: inherit;
}

/* common */
body {
    color: gray;
}

.inner {
    padding: 30px;
}

/* header */
.header {
    position: sticky;
    top: 0;
    background: #fff;
    color: #000;
    font-size: 14px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: background .3s;
}

.header:hover {
    background: #ffe100;
}

.header .inner {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header .inner > a {
    position: absolute; 
    right: 30px;
}

.gnb_list {
    display: flex;
}

.gnb_list li {
    margin-left: 50px;
}

/* main */


/* footer */
.footer {
    /* position: fixed; */
    /* bottom: 0; */
    /* text-align: left; */
    width: 100%;
    border-top: 1px solid #666;
    color: #666;
    background: #fff;
    font-size: 14px;
}

.footer .inner {
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    align-items: flex-start; /*flex item의 수직*/
    justify-content: space-between; /*flex item의 수평*/
}

.btn_top {
    background: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.copyright {
    display: block;
    padding-top: 71px;
}

.policy_list li,
.share_list li,
.share_list {
    display: inline-block;
}

.policy_list li {
    margin-right: 30px;
}

.share_title {
    color: #000;
}

.share_list img {
    width: 24px ;
}

.related_list {
    margin-bottom: 30px;
}

.ico_img {
    width: 24px;
    vertical-align: middle; /*수평*/
    
    margin-left: 8px;
}