* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Noto Sans KR', sans-serif;
}

body {
    color: gray;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, 
li {
    list-style: none;
}

.header {
    position: sticky;
    top: 0;
    padding: 10px 30px;
    background: #ffe100;
    color: #000;
    font-size: 14px;
}

.header .inner {
    display: flex;
    align-items: center;
}

.gnb_list {
    display: flex;
}

.gnb_list li {
    margin-left: 50px;
}

.header .inner > a {
    position: absolute; 
    right: 30px;
}

main {
    padding: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    border-top: 1px solid #666;
    text-align: center;
    color: #666;
}
