body {
    margin: 0;
    font-family: 'Poppins', 'Noto Sans KR',  sans-serif;
}

header {
    padding: 20px 30px;
    background: #ffe100;
    color: #fff;
}

h1 {
    margin: 0 auto;
    
}

main {
    padding: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    border-top: 1px solid #666;
    text-align: center;
    color: #666;
    
    /* padding-bottom: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-left: 20px; */
    
    /* padding: 20px 20px 20px 20px; */

    /* padding: 20px 20px; */
}

